/*Color Palette
#CC998D - dark blue
#8D99AE - light blue
#D8DBE2 - grey
#EF233C - red 
*/


/*Global styles
-----------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body  {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: 0;

}
h1,h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
    margin-top:0;
}
h3 {
    margin: 0;
}
a {
    color:black;  
} 
a:hover {
text-decoration: none;

}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    
}

.col-narrow {
    width: 30%;
    float: left;
   
}

.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
}

.uppercase { 
text-transform: uppercase;
}

/*Header and Footer
-----------------------------*/

header, footer {
    background: #CC998D;
    color: black
}
/*header */ 
.profile-img {
    border-radius: 50%;

}

   

header h1, header h2 {
    color: #EDF2F4; 
    margin: 0;
}
/*footer */
footer {
    text-align: center;
}

.contact-info a {
    background: white;
    padding: 10px;
    display: inline-block;
}

/*Kalahari Experience 
-----------------------------*/

.work {
    background: #D8DBE2
}
h3 ~ p {
    margin: 0;
}
.job-description p:first-of-type {
    margin-top: 0;
}



/*Education
-----------------------------*/

.education {
    background: #8D99AE
}

p + h3 {
margin-top: 30px;
}

#cover-image {
    max-height: 300px;
    max-width: auto;
    
}